<!DOCTYPE html - test>
<html>
  <head>
    <title><%= yield(:title) %>  Explore More</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
 <script>

window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#eaf7f7",
      "text": "#5c7291"
    },
    "button": {
      "background": "#56cbdb",
      "text": "#ffffff"
    }
  },
  "content": {
    "message": "This website uses cookies to ensure you get the best experience on our website.",
    "dismiss": "Got it!",
    "link": "Learn more",
    "href": "http://cookies.insites.com/about-cookies"
  }
})});
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  ....
  "theme": "classic",
  ....
})});
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  ....
  "position": "top",
  "static": true /* if top (pushdown) only */
  ....
})});


</script>
 
  </head>

  <body>
    
    <header class="headSec">
			<div id="logo">
			  <!--<a href="about.html"><img src="icons/logo text.png" width="300" height="65" alt=""></a>-->
    <%=image_tag("logo text.png", :class=> "logo") %>
      </div>
      
      <ul>
       
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "About", about_path %></li>
       <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Log In",   login_path %></li>
        <li><%= link_to "Log Out",   logout_path %></li>
        <li><%= link_to "Cart",      cart_path %></li>
        <li><%= link_to "View Cart", "/cart" %></li>
                          <% if user_signed_in? %>
                  
                 <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                 <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
                 <li><%= link_to 'Register', new_user_registration_path %></li> 
                 <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end %>

                          <% if user_signed_in? %>
                 <li>Signed in as... <%= current_user.email %></a></li>
                 <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
          <% else %>
                 <li><%= link_to 'Register', new_user_registration_path %></li> 
                 <li><%= link_to 'Sign in', new_user_session_path %></li>
          <% end %> 




      <% if user_signed_in? %> 
    <li><%= link_to "Admin Logout", logout_path %></li>
        <% else %>
        
        <li><%= link_to "Admin Login", login_path %></li>
        <% end %>
  
        
      </ul>
      
    </header>
    <div class="container">
    <%= yield %>
    </div>
    <footer class="foot">
      
			<div class="box">
				<p><strong> COMPANY </strong></p>
				<ul>
				<li><a style="color:#c9ab00; font-size:30px;" <%= link_to "About", about_path %></a></li>
				<li><a style="color:#c9ab00; font-size:30px;" <%= link_to 'Sign in', new_user_session_path %></a></li>
        <!--li><a style="color:#c9ab00; font-size:30px;" href="services.html" target="_blank">Services</a></li>-->
				</ul>
			</div>
			<div class="box">
				<p> <strong>SOCIAL</strong></p>
					<ul>
					<li><a style="color:#c9ab00; font-size:30px;" <%= link_to "Contact", contact_path %></a></li>
					<!--<li><a style="color:#c9ab00; font-size:30px;" href="blog.html" target="_blank">Blog</a></li>-->
					<li><a style="color:#c9ab00; font-size:30px;" href="index.html" target="_blank">Copyright &copy ExploreMore.ie</li>
					</ul>
			</div>
					<p>&nbsp;</p>
      
    </footer>
    
    
    
  </body>
</html>
