<div id="itemsContainer">
    <h1>Thank You<br>
You have just placed an order <%=@order.id%></h1>
</div>
<table id="customers">
    <tr>
        </tbody>
        <% @orders.id%>  
    </tr>
</table>    
    
    
<table id="customers">
     <% @total = 0 %>
    <% @orderitems.each do |id,quantity| %>
      <tr>
        <% item = Orderitem.find_by_id(id) %>
       
        <td><%= item.title %></td>
        <td><%= item.quantity %></td>
       <td><%=number_to_currency(item.price, :unit => "€")%></td> 
       <td><%= number_to_currency(item.quantity * item.price, :unit => "€") %></td>
       </tr>
       
       <% timx = (item.quantity * item.price)%>  
      <% @total += timx %>
      
      </tr>
    <% end %>
    
    
    <tr>
        
       <td>Order Total: &euro; <%= @total %></td>
       
<% shipping = 30 %>
      <% @overall = shipping + @total%>
      <tr>
          <td>Shipping &euro;30</td>
          <td>You Pay &euro; <%= @overall %></td>
      </tr>
<tr>
         <!-- <td><h2>  <a href="/paid/<%= @order.id %>" class="button">Pay Now</a></h2></td>-->
         
          
      </tr>

       
      </tr>
</table>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

  <!-- Identify your business so that you can collect the payments. -->
  <input type="hidden" name="business" value="ftmoloney@gmail.com">

  <!-- Specify a Buy Now button. -->
  <input type="hidden" name="cmd" value="_xclick">

  <!-- Specify details about the item that buyers will purchase. -->
  <input type="hidden" name="item_name" value="Explore More Order Number <%= @orderNum %>">
  <input type="hidden" name="amount" value="<%= @overall %>">
  <input type="hidden" name="currency_code" value="EUR">

  <!-- Prompt buyers to enter the quantities they want. -->
  <input type="hidden" name="undefined_quantity" value="1">

  <!-- Display the payment button. -->
  <input type="image" name="submit" border="0"
    src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
    alt="Buy Now">
  <img alt="" border="0" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
    <input type="hidden" name="return" value="https://bdc034d6accd4c2e8158bb8dc2cdc2ba.vfs.cloud9.us-east-1.amazonaws.com/" >

</form>